<!DOCTYPE html>
<html>
<head>
<title>Text Analizer</title>
</head>
<body>

<h1>Welcome to the text analizer</h1>
<h2>Enter your text below</h2>

<form action="/analyze" method="get">
    <textarea name="text" style="margin: 0px; width: 852px; height: 205px;">  </textarea><br>
    <input type="checkbox" name="removepunc">Remove The Punctuation<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <button type='submit'> Analyze Text</button>
</form>

</body>
</html>